*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    color: #fff;
    background-color: #069;
    display: flex;
    align-items: center;
    height: 5vh;
}

.title{
    font-size: 1.5rem;
    margin: .5rem
}

.text{
    margin: auto;
    width: 50%;
    padding: 10px;
    line-height: 1.5;
}

h1{
    color: #069;
}

h2{
    color: #069;
}
